
* {
    border: 2px solid red;
  }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}

img{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

  .photo-credit{
    font-size: 10px;
    text-align: center;

  }

  ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    gap: 12px;
    padding: 0;
    margin: 0;
    
  }
  
  li.home {
    margin-right: auto;
  }